{% extends 'student_templates/basic_templates/links.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}



{% include 'student_templates/basic_templates/navbar.html' %}


<div class="container">
		<a href="{% url 'student_class_list'%}" class="btn btn-primary">Back</a>
		<hr>
	</div>
	<div class="container" style="width: 70%; outline: 1px solid black; outline-offset: 8px;">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row p-2">
				<div class="col-sm-12">
					<h4 class="text-center">ADD Student Class </h4>
				</div>
			</div>
			<hr>
			<div class="container">
				{{get_student_class_form|crispy}}
			<hr>
			<button class="btn btn-success" type="submit">Add Student Class</button>
		</div>
		</form>
	</div>
	<br>
	<br>
{% endblock %}