{% extends 'student_templates/basic_templates/links.html' %}

{% load static %}

{% block content %}

{% include 'student_templates/basic_templates/navbar.html' %}

  <div class="container">
    <a href="{% url 'home_page' %}" class="btn btn-primary mb-2">Back</a>
    <h4 class="float-right" style="margin-top: -5px;">HOSTEL INFORMATION</h4>
    <hr>

    <div class="row ml-auto mr-auto text-center">
      <div class="col-sm-2">
        <a href="{% url 'student_record_hostel' %}" class="btn btn-secondary text-white">
          <img src="{% static 'icons/004-home.png' %}" width="60%" style="filter: invert(1)"><hr>
        <h5 class="mt-2">Student Record Hostel</h5>
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{% url 'student_exam' %}" class="btn btn-secondary text-white">
          <img src="{% static 'icons/general.png' %}" width="60%" style="filter: invert(1)"><hr>
        <h5 class="mt-2">Floor Of Hostel</h5>
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{% url 'student_exam' %}" class="btn btn-secondary text-white">
          <img src="{% static 'icons/general.png' %}" width="60%" style="filter: invert(1)"><hr>
        <h5 class="mt-2">Room Type Hostel</h5>
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{% url 'student_exam' %}" class="btn btn-secondary text-white">
          <img src="{% static 'icons/general.png' %}" width="60%" style="filter: invert(1)"><hr>
        <h5 class="mt-2">Rooms Of Hostel</h5>
        </a>
      </div>
    </div>
      
  </div>

  {% endblock %}